.inputSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2.4rem 3.2rem 4rem;
  background-color: var(--background);
}

@media (min-width: 768px) {
  .inputSection {
    padding: 6rem 3.2rem 9rem;
  }
}

.inputForm {
  align-items: center;
  background-color: #fff;
  border: 0.1rem solid #6d6afe;
  border-radius: 1.5rem;
  column-gap: 1rem;
  display: flex;
  height: 5.3rem;
  max-width: 80rem;
  padding: 0 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  .inputForm {
    column-gap: 2rem;
    height: 6.9rem;
    padding: 0 2rem;
  }
}

.inputBox {
  align-items: center;
  column-gap: 0.8rem;
  display: flex;
  width: 100%;
}

@media (min-width: 768px) {
  .inputBox {
    column-gap: 1.2rem;
  }
}

.input {
  font-size: 1.4rem;
  height: 5.1rem;
  line-height: 150%;
  width: 100%;
}

@media (min-width: 768px) {
  .input {
    font-size: 1.6rem;
    height: 6.7rem;
  }
}

.linkButton {
  color: inherit;
  font-size: 1.4rem;
  height: 3.7rem;
  width: 8rem;
  background-color: initial;
  border: none;
  cursor: pointer;
  padding: initial;
}

.cta {
  align-items: center;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 0.8rem;
  color: #f5f5f5;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
